In [54]:
#IMPORT NECESSARY PACKAGES

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [55]:
#LOADING THE DATASET

project= pd.read_csv("/Users/sumaiyairshad/Desktop/MS in Data Science/CAPSTONE PROJECT/E Commerce/E-commerce Customer Segmentation Dataset.csv")
project

,Customer_ID,Customer_Name,Age,Gender,Annual_Income,Spending_Score,Marital_Status,Product_Category,Years_as_Customer,Number_of_Orders,Average_Order_Value,Loyalty_Membership,Discount_Usage,Preferred_Payment_Method,Preferred_Delivery_Option,Device_Used,Last_Activity,Customer_Region,Review_Score,Customer_Segment
0,1,Michelle Charles,69,0,192704,60,1,Fashion,8,78,182.40,1,0,PayPal,Standard,Tablet,33,Asia,2,0
1,2,Kaylee Medina,62,0,165578,36,1,Sports,7,25,342.85,1,1,Credit Card,Standard,Desktop,307,Europe,4,1
2,3,Ronald Hoffman,52,0,66523,46,0,Home,4,68,275.57,1,0,Debit Card,Same-Day,Tablet,131,Asia,2,0
3,4,Sandra Mcguire,56,1,193559,83,0,Sports,5,88,97.62,1,1,Net Banking,Standard,Mobile,185,North America,1,1
4,5,Andrew Mcdonald,56,0,57461,60,0,Sports,5,86,438.02,0,1,Net Banking,Same-Day,Desktop,29,South America,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21995,21996,Tonya Kramer,22,1,60778,25,1,Home,2,41,642.65,1,1,Credit Card,Same-Day,Mobile,27,South America,2,1
21996,21997,Melvin Valencia,38,0,129255,14,0,Home,12,23,598.19,0,1,Debit Card,Same-Day,Desktop,135,Asia,2,0
21997,21998,Shannon Mitchell,58,0,194525,81,1,Sports,8,11,204.23,1,0,Credit Card,Standard,Desktop,301,Asia,1,2
21998,21999,Allison West,23,0,28331,82,1,Home,2,59,247.71,1,0,Credit Card,Same-Day,Mobile,157,North America,5,2
21999,22000,Vickie Townsend,47,0,191495,23,1,Electronics,11,6,736.60,1,0,Credit Card,Standard,Mobile,131,South America,1,2

In [56]:
#CONVERTING THE CATEGORICAL COLUMNS INTO NUMERICAL COLUMNS USING ENCODING

one_hot_columns=['Product_Category','Preferred_Payment_Method','Device_Used','Customer_Region']
project=pd.get_dummies(project, columns=one_hot_columns)

In [57]:
#REMOVING IRRELEVANT FEATURES(Customer_ID and Customer_Name)

project_cleaned=project.drop(columns=['Customer_ID','Customer_Name'])

#TO MAKE SURE BOTH THE COLUMNS ARE DROPPED
project_cleaned.head()

,Age,Gender,Annual_Income,Spending_Score,Marital_Status,Years_as_Customer,Number_of_Orders,Average_Order_Value,Loyalty_Membership,Discount_Usage,...,Preferred_Payment_Method_Debit Card,Preferred_Payment_Method_Net Banking,Preferred_Payment_Method_PayPal,Device_Used_Desktop,Device_Used_Mobile,Device_Used_Tablet,Customer_Region_Asia,Customer_Region_Europe,Customer_Region_North America,Customer_Region_South America
0,69,0,192704,60,1,8,78,182.40,1,0,...,0,0,1,0,0,1,1,0,0,0
1,62,0,165578,36,1,7,25,342.85,1,1,...,0,0,0,1,0,0,0,1,0,0
2,52,0,66523,46,0,4,68,275.57,1,0,...,1,0,0,0,0,1,1,0,0,0
3,56,1,193559,83,0,5,88,97.62,1,1,...,0,1,0,0,1,0,0,0,1,0
4,56,0,57461,60,0,5,86,438.02,0,1,...,0,1,0,1,0,0,0,0,0,1

In [58]:
#FEATURE ENGINEERING
#LET ME ADD SOME FEATURES AND THEN DO THE EDA AGAIN TO GAIN SOME MORE UNDERSTANDING

#Wealthier customers might spend differently compared to others.
project_cleaned['Income_Spending_Interaction'] = project_cleaned['Annual_Income'] * project_cleaned['Spending_Score']

#Long-term customers with loyalty membership might exhibit unique behaviors.
project_cleaned['Loyalty_Customer_Years'] = project_cleaned['Years_as_Customer'] * project_cleaned['Loyalty_Membership']

#High spenders who frequently order may indicate a premium customer segment.
project_cleaned['Order_Value_Frequency'] = project_cleaned['Average_Order_Value'] * project_cleaned['Number_of_Orders']

project_cleaned.columns

Index(['Age', 'Gender', 'Annual_Income', 'Spending_Score', 'Marital_Status',
       'Years_as_Customer', 'Number_of_Orders', 'Average_Order_Value',
       'Loyalty_Membership', 'Discount_Usage', 'Preferred_Delivery_Option',
       'Last_Activity', 'Review_Score', 'Customer_Segment',
       'Product_Category_Beauty', 'Product_Category_Electronics',
       'Product_Category_Fashion', 'Product_Category_Home',
       'Product_Category_Sports', 'Preferred_Payment_Method_Credit Card',
       'Preferred_Payment_Method_Debit Card',
       'Preferred_Payment_Method_Net Banking',
       'Preferred_Payment_Method_PayPal', 'Device_Used_Desktop',
       'Device_Used_Mobile', 'Device_Used_Tablet', 'Customer_Region_Asia',
       'Customer_Region_Europe', 'Customer_Region_North America',
       'Customer_Region_South America', 'Income_Spending_Interaction',
       'Loyalty_Customer_Years', 'Order_Value_Frequency'],
      dtype='object')

In [59]:
#Calculating orders per year to standardize customer behavior
project_cleaned['Orders_per_Year'] = project_cleaned['Number_of_Orders'] / project_cleaned['Years_as_Customer']

#Ratio of Spending_Score to Average_Order_Value.
project_cleaned['Spending_Efficiency'] = project_cleaned['Spending_Score'] / project_cleaned['Average_Order_Value']

In [60]:
#Discount Propensity: Creating a binary feature for frequent discount users.

threshold=1 
project_cleaned['Frequent_Discount_User'] = (project_cleaned['Discount_Usage'] > threshold).astype(int)
project_cleaned.tail(56)

#This creates a binary feature where users who have used at least one discount 
#(i.e., Discount_Usage = 1) will be marked as 1 in the Frequent_Discount_User column,
#and others will be marked as 0.

,Age,Gender,Annual_Income,Spending_Score,Marital_Status,Years_as_Customer,Number_of_Orders,Average_Order_Value,Loyalty_Membership,Discount_Usage,...,Customer_Region_Asia,Customer_Region_Europe,Customer_Region_North America,Customer_Region_South America,Income_Spending_Interaction,Loyalty_Customer_Years,Order_Value_Frequency,Orders_per_Year,Spending_Efficiency,Frequent_Discount_User
21944,32,0,103468,92,1,4,87,774.47,0,0,...,0,0,0,1,9519056,0,67378.89,21.750000,0.118791,0
21945,65,1,128109,3,0,2,86,448.52,1,1,...,0,0,1,0,384327,2,38572.72,43.000000,0.006689,0
21946,34,0,59336,30,1,4,95,948.97,0,1,...,0,0,1,0,1780080,0,90152.15,23.750000,0.031613,0
21947,49,1,132646,23,1,1,78,220.07,0,0,...,0,1,0,0,3050858,0,17165.46,78.000000,0.104512,0
21948,23,0,191161,98,0,12,89,287.84,1,1,...,1,0,0,0,18733778,12,25617.76,7.416667,0.340467,0
21949,53,1,32880,26,1,7,94,355.14,1,1,...,1,0,0,0,854880,7,33383.16,13.428571,0.073211,0
21950,69,0,160329,4,1,14,71,829.87,1,0,...,0,0,0,1,641316,14,58920.77,5.071429,0.004820,0
21951,19,1,136906,71,0,6,87,222.43,0,0,...,1,0,0,0,9720326,0,19351.41,14.500000,0.319202,0
21952,62,0,93445,61,1,11,88,157.07,0,0,...,0,0,1,0,5700145,0,13822.16,8.000000,0.388362,0
21953,65,0,196661,12,1,13,7,766.20,1,1,...,0,0,1,0,2359932,13,5363.40,0.538462,0.015662,0
21954,42,1,182245,19,1,4,22,115.82,1,0,...,0,1,0,0,3462655,4,2548.04,5.500000,0.164048,0
21955,29,1,100439,77,1,4,62,44.92,1,1,...,0,1,0,0,7733803,4,2785.04,15.500000,1.714159,0
21956,66,0,192571,2,0,9,31,980.51,1,0,...,1,0,0,0,385142,9,30395.81,3.444444,0.002040,0
21957,36,0,70856,83,0,5,34,993.75,1,1,...,0,1,0,0,5881048,5,33787.50,6.800000,0.083522,0
21958,63,0,161256,57,1,14,47,796.91,1,1,...,1,0,0,0,9191592,14,37454.77,3.357143,0.071526,0
21959,29,0,143074,37,1,6,66,590.16,0,0,...,0,1,0,0,5293738,0,38950.56,11.000000,0.062695,0
21960,63,0,155290,16,1,12,31,934.18,0,1,...,0,0,1,0,2484640,0,28959.58,2.583333,0.017127,0
21961,62,0,170914,89,0,5,93,72.20,1,0,...,0,1,0,0,15211346,5,6714.60,18.600000,1.232687,0
21962,64,1,74367,56,0,2,6,75.82,0,0,...,0,1,0,0,4164552,0,454.92,3.000000,0.738591,0
21963,59,0,50453,27,0,7,39,574.91,0,1,...,0,1,0,0,1362231,0,22421.49,5.571429,0.046964,0
21964,32,0,73906,92,0,10,75,941.72,0,1,...,1,0,0,0,6799352,0,70629.00,7.500000,0.097694,0
21965,22,1,127357,42,1,14,72,77.59,0,0,...,0,1,0,0,5348994,0,5586.48,5.142857,0.541307,0
21966,34,1,38912,6,0,10,4,465.74,1,1,...,0,0,0,1,233472,10,1862.96,0.400000,0.012883,0
21967,57,1,179732,2,0,11,4,86.00,0,1,...,0,0,1,0,359464,0,344.00,0.363636,0.023256,0
21968,61,0,146089,58,0,12,82,278.80,1,0,...,0,0,0,1,8473162,12,22861.60,6.833333,0.208034,0
21969,27,1,149526,3,0,3,83,543.33,0,1,...,0,1,0,0,448578,0,45096.39,27.666667,0.005522,0
21970,21,1,160188,69,1,9,95,671.48,0,0,...,0,0,0,1,11052972,0,63790.60,10.555556,0.102758,0
21971,56,1,48633,54,0,2,59,283.62,0,1,...,1,0,0,0,2626182,0,16733.58,29.500000,0.190396,0
21972,60,0,182147,20,0,5,79,527.85,0,1,...,0,0,1,0,3642940,0,41700.15,15.800000,0.037890,0
21973,64,1,181713,16,0,13,33,609.22,0,0,...,1,0,0,0,2907408,0,20104.26,2.538462,0.026263,0
21974,68,1,184670,63,1,5,56,550.41,0,1,...,0,0,0,1,11634210,0,30822.96,11.200000,0.114460,0
21975,42,1,187393,53,1,3,35,572.17,1,1,...,0,1,0,0,9931829,3,20025.95,11.666667,0.092630,0
21976,68,0,48505,12,0,3,23,744.96,0,1,...,1,0,0,0,582060,0,17134.08,7.666667,0.016108,0
21977,35,0,90050,96,0,8,46,475.97,0,1,...,0,0,0,1,8644800,0,21894.62,5.750000,0.201693,0
21978,22,0,87350,1,0,9,34,999.07,0,1,...,0,0,1,0,87350,0,33968.38,3.777778,0.001001,0
21979,58,0,160542,82,0,3,8,637.60,0,1,...,0,1,0,0,13164444,0,5100.80,2.666667,0.128607,0
21980,42,1,82832,18,0,13,95,199.14,1,1,...,0,1,0,0,1490976,13,18918.30,7.307692,0.090389,0
21981,45,0,194832,21,1,8,73,109.94,1,1,...,0,0,1,0,4091472,8,8025.62,9.125000,0.191013,0
21982,52,0,116177,45,0,5,57,198.91,1,0,...,1,0,0,0,5227965,5,11337.87,11.400000,0.226233,0
21983,53,0,153310,67,0,14,79,726.96,0,0,...,0,0,1,0,10271770,0,57429.84,5.642857,0.092165,0
21984,68,1,59339,94,0,2,80,582.82,0,0,...,0,0,0,1,5577866,0,46625.60,40.000000,0.161285,0
21985,38,1,64345,74,1,5,12,18.67,0,0,...,0,0,1,0,4761530,0,224.04,2.400000,3.963578,0
21986,44,1,111278,93,0,7,35,572.42,1,1,...,0,1,0,0,10348854,7,20034.70,5.000000,0.162468,0
21987,65,0,97953,21,0,10,65,503.74,0,1,...,0,0,0,1,2057013,0,32743.10,6.500000,0.041688,0
21988,33,1,140233,76,1,2,28,725.91,0,0,...,0,1,0,0,10657708,0,20325.48,14.000000,0.104696,0
21989,40,0,107093,24,1,7,99,653.31,1,1,...,0,1,0,0,2570232,7,64677.69,14.142857,0.036736,0
21990,67,0,69817,55,0,6,19,520.46,1,0,...,0,0,0,1,3839935,6,9888.74,3.166667,0.105676,0
21991,64,0,55416,49,1,12,15,729.62,1,1,...,0,0,0,1,2715384,12,10944.30,1.250000,0.067158,0
21992,56,0,55748,29,0,10,10,951.88,1,1,...,0,1,0,0,1616692,10,9518.80,1.000000,0.030466,0
21993,29,0,122466,7,0,5,61,769.12,0,1,...,0,0,1,0,857262,0,46916.32,12.200000,0.009101,0
21994,65,1,143523,69,1,10,75,110.26,0,0,...,0,0,0,1,9903087,0,8269.50,7.500000,0.625794,0
21995,22,1,60778,25,1,2,41,642.65,1,1,...,0,0,0,1,1519450,2,26348.65,20.500000,0.038901,0
21996,38,0,129255,14,0,12,23,598.19,0,1,...,1,0,0,0,1809570,0,13758.37,1.916667,0.023404,0
21997,58,0,194525,81,1,8,11,204.23,1,0,...,1,0,0,0,15756525,8,2246.53,1.375000,0.396612,0
21998,23,0,28331,82,1,2,59,247.71,1,0,...,0,0,1,0,2323142,2,14614.89,29.500000,0.331032,0
21999,47,0,191495,23,1,11,6,736.60,1,0,...,0,0,0,1,4404385,11,4419.60,0.545455,0.031225,0

In [61]:
#CHECKING WHICH COLUMN IS STILL AN OBJECT
#THIS SHOWS PREFERRED_DELIVERY_OPTION IS STILL AN OBJECT
project_cleaned.dtypes

Age                                       int64
Gender                                    int64
Annual_Income                             int64
Spending_Score                            int64
Marital_Status                            int64
Years_as_Customer                         int64
Number_of_Orders                          int64
Average_Order_Value                     float64
Loyalty_Membership                        int64
Discount_Usage                            int64
Preferred_Delivery_Option                object
Last_Activity                             int64
Review_Score                              int64
Customer_Segment                          int64
Product_Category_Beauty                   uint8
Product_Category_Electronics              uint8
Product_Category_Fashion                  uint8
Product_Category_Home                     uint8
Product_Category_Sports                   uint8
Preferred_Payment_Method_Credit Card      uint8
Preferred_Payment_Method_Debit Card       uint8
Preferred_Payment_Method_Net Banking      uint8
Preferred_Payment_Method_PayPal           uint8
Device_Used_Desktop                       uint8
Device_Used_Mobile                        uint8
Device_Used_Tablet                        uint8
Customer_Region_Asia                      uint8
Customer_Region_Europe                    uint8
Customer_Region_North America             uint8
Customer_Region_South America             uint8
Income_Spending_Interaction               int64
Loyalty_Customer_Years                    int64
Order_Value_Frequency                   float64
Orders_per_Year                         float64
Spending_Efficiency                     float64
Frequent_Discount_User                    int64
dtype: object

In [11]:
#HERE, I'LL CONVERT PREFERRED DELIVERY OPTION INTO NUMERICAL FEATURE USING LABEL ENCODING

# Define a custom order for categories
preferred_order = {'Standard': 0, 'Same-Day': 1, 'Express': 2}  # Example categories

# Map the categories to the custom order and overwrite the original column
project_cleaned['Preferred_Delivery_Option'] = project_cleaned['Preferred_Delivery_Option'].map(preferred_order)

# Now check the data type
print(project_cleaned.dtypes)  # This will show that 'Preferred_Delivery_Option' is now int64, not object

Age                                       int64
Gender                                    int64
Annual_Income                             int64
Spending_Score                            int64
Marital_Status                            int64
Years_as_Customer                         int64
Number_of_Orders                          int64
Average_Order_Value                     float64
Loyalty_Membership                        int64
Discount_Usage                            int64
Preferred_Delivery_Option                 int64
Last_Activity                             int64
Review_Score                              int64
Customer_Segment                          int64
Product_Category_Beauty                   uint8
Product_Category_Electronics              uint8
Product_Category_Fashion                  uint8
Product_Category_Home                     uint8
Product_Category_Sports                   uint8
Preferred_Payment_Method_Credit Card      uint8
Preferred_Payment_Method_Debit Card       uint8
Preferred_Payment_Method_Net Banking      uint8
Preferred_Payment_Method_PayPal           uint8
Device_Used_Desktop                       uint8
Device_Used_Mobile                        uint8
Device_Used_Tablet                        uint8
Customer_Region_Asia                      uint8
Customer_Region_Europe                    uint8
Customer_Region_North America             uint8
Customer_Region_South America             uint8
Income_Spending_Interaction               int64
Loyalty_Customer_Years                    int64
Order_Value_Frequency                   float64
Orders_per_Year                         float64
Spending_Efficiency                     float64
Frequent_Discount_User                    int64
dtype: object

In [62]:
#CHECKING CORRELATION AFTER DOING FEATURE ENGINEERING

correlation_with_target = project_cleaned.corr()['Customer_Segment'].sort_values(ascending=False)
print(correlation_with_target)

Customer_Segment                        1.000000
Product_Category_Home                   0.013500
Preferred_Payment_Method_Debit Card     0.011140
Product_Category_Fashion                0.009914
Marital_Status                          0.007104
Customer_Region_North America           0.006256
Loyalty_Customer_Years                  0.005888
Loyalty_Membership                      0.005554
Discount_Usage                          0.004336
Number_of_Orders                        0.004241
Orders_per_Year                         0.004054
Device_Used_Tablet                      0.003226
Last_Activity                           0.001854
Preferred_Payment_Method_Net Banking    0.000783
Customer_Region_Europe                  0.000671
Product_Category_Beauty                 0.000451
Annual_Income                           0.000026
Age                                    -0.000174
Device_Used_Mobile                     -0.000433
Years_as_Customer                      -0.000567
Order_Value_Frequency                  -0.000946
Customer_Region_Asia                   -0.001148
Review_Score                           -0.001688
Income_Spending_Interaction            -0.001796
Spending_Score                         -0.002380
Device_Used_Desktop                    -0.002791
Average_Order_Value                    -0.003911
Preferred_Payment_Method_PayPal        -0.003979
Customer_Region_South America          -0.005769
Product_Category_Sports                -0.007191
Gender                                 -0.007358
Preferred_Payment_Method_Credit Card   -0.007946
Spending_Efficiency                    -0.009368
Product_Category_Electronics           -0.016888
Frequent_Discount_User                       NaN
Name: Customer_Segment, dtype: float64

In [63]:
#DROPPING THE FEATURES LESS CORRELATED



# List of features to drop
features_to_drop = [
    'Annual_Income', 'Age', 'Device_Used_Mobile', 'Years_as_Customer', 'Order_Value_Frequency',
    'Customer_Region_Asia', 'Review_Score', 'Income_Spending_Interaction', 'Spending_Score', 
    'Device_Used_Desktop', 'Average_Order_Value', 'Preferred_Payment_Method_PayPal', 
    'Customer_Region_South America', 'Product_Category_Sports', 'Gender', 
    'Preferred_Payment_Method_Credit Card', 'Spending_Efficiency', 'Product_Category_Electronics', 
    'Frequent_Discount_User'  # This feature has NaN values
]

# Drop the columns
project_cleaned1 = project_cleaned.drop(columns=features_to_drop)

# If you want to confirm the columns that were dropped:
print("Dropped features:", features_to_drop)

Dropped features: ['Annual_Income', 'Age', 'Device_Used_Mobile', 'Years_as_Customer', 'Order_Value_Frequency', 'Customer_Region_Asia', 'Review_Score', 'Income_Spending_Interaction', 'Spending_Score', 'Device_Used_Desktop', 'Average_Order_Value', 'Preferred_Payment_Method_PayPal', 'Customer_Region_South America', 'Product_Category_Sports', 'Gender', 'Preferred_Payment_Method_Credit Card', 'Spending_Efficiency', 'Product_Category_Electronics', 'Frequent_Discount_User']

In [64]:
project_cleaned1.columns

Index(['Marital_Status', 'Number_of_Orders', 'Loyalty_Membership',
       'Discount_Usage', 'Preferred_Delivery_Option', 'Last_Activity',
       'Customer_Segment', 'Product_Category_Beauty',
       'Product_Category_Fashion', 'Product_Category_Home',
       'Preferred_Payment_Method_Debit Card',
       'Preferred_Payment_Method_Net Banking', 'Device_Used_Tablet',
       'Customer_Region_Europe', 'Customer_Region_North America',
       'Loyalty_Customer_Years', 'Orders_per_Year'],
      dtype='object')

In [67]:
# Step 1: Import necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer



# Step 2: Identify categorical columns (they will need encoding)
categorical_columns = X.select_dtypes(include=['object']).columns

# Step 3: Apply One-Hot Encoding to categorical columns
X_encoded = pd.get_dummies(X, columns=categorical_columns, drop_first=True)

# Step 4: Split the data into features (X) and target (y)
y = project_cleaned1['Customer_Segment']  # Target variable

# Step 5: Train-Test Split
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2, random_state=42)

# Step 6: Preprocessing
# Handle missing values using SimpleImputer
imputer = SimpleImputer(strategy='mean')  # Use 'mean' strategy for numerical columns
X_train_imputed = imputer.fit_transform(X_train)
X_test_imputed = imputer.transform(X_test)

# Step 7: Feature Scaling (optional, depending on your model and data)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_imputed)
X_test_scaled = scaler.transform(X_test_imputed)

# Step 8: Model Selection (Random Forest Classifier)
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train_scaled, y_train)

# Step 9: Model Evaluation
# Make predictions
y_pred = model.predict(X_test_scaled)

# Evaluate the model
print("Accuracy Score:", accuracy_score(y_test, y_pred))
print("\nClassification Report:")
print(classification_report(y_test, y_pred))

Accuracy Score: 0.335

Classification Report:
              precision    recall  f1-score   support

           0       0.33      0.36      0.34      1424
           1       0.34      0.31      0.32      1491
           2       0.34      0.34      0.34      1485

    accuracy                           0.34      4400
   macro avg       0.34      0.34      0.33      4400
weighted avg       0.34      0.34      0.33      4400

In [68]:
#HYPERPARAMETER TUNING

from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn.preprocessing import StandardScaler


# Define hyperparameter grid
param_grid = {
    'n_estimators': [100, 200],  # Number of trees in the forest
    'max_depth': [None, 10],       # Maximum depth of the tree
    'min_samples_split': [2, 5],       # Minimum samples required to split a node
    'min_samples_leaf': [1, 2],        # Minimum samples required at a leaf node
    'max_features': ['auto'],  # Number of features to consider when looking for the best split
    'bootstrap': [True, False]         # Whether bootstrap samples are used when building trees
}


# Initialize Random Forest model
rf_model = RandomForestClassifier(random_state=42)

# Initialize GridSearchCV with Random Forest and the parameter grid
grid_search = GridSearchCV(estimator=rf_model, param_grid=param_grid, 
                           cv=5, n_jobs=-1, verbose=2, scoring='accuracy')

# Train the model with grid search to find the best parameters
grid_search.fit(X_train_scaled, y_train)

# Get the best parameters from the grid search
print("Best Parameters: ", grid_search.best_params_)

Fitting 5 folds for each of 32 candidates, totalling 160 fits
Best Parameters:  {'bootstrap': True, 'max_depth': None, 'max_features': 'auto', 'min_samples_leaf': 1, 'min_samples_split': 2, 'n_estimators': 100}

In [69]:
# Use the best model found by GridSearchCV
best_model = grid_search.best_estimator_

# Make predictions with the best model
y_pred = best_model.predict(X_test_scaled)

# Evaluate the model's performance
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy:.4f}')
print(classification_report(y_test, y_pred))

Accuracy: 0.3350
              precision    recall  f1-score   support

           0       0.33      0.36      0.34      1424
           1       0.34      0.31      0.32      1491
           2       0.34      0.34      0.34      1485

    accuracy                           0.34      4400
   macro avg       0.34      0.34      0.33      4400
weighted avg       0.34      0.34      0.33      4400

In [70]:
# Assuming X_train is a pandas DataFrame
feature_names = X_train.columns

# Generate feature importance DataFrame
import pandas as pd
feature_importances = grid_search.best_estimator_.feature_importances_
importance_df = pd.DataFrame({
    'Feature': feature_names,
    'Importance': feature_importances
}).sort_values(by='Importance', ascending=False)

print(importance_df)

                                 Feature  Importance
4                          Last_Activity    0.222013
14                       Orders_per_Year    0.212067
1                       Number_of_Orders    0.194631
13                Loyalty_Customer_Years    0.071141
10                    Device_Used_Tablet    0.029057
3                         Discount_Usage    0.028154
15    Preferred_Delivery_Option_Same-Day    0.025663
9   Preferred_Payment_Method_Net Banking    0.025635
16    Preferred_Delivery_Option_Standard    0.025224
11                Customer_Region_Europe    0.024377
12         Customer_Region_North America    0.023837
8    Preferred_Payment_Method_Debit Card    0.023663
0                         Marital_Status    0.023067
6               Product_Category_Fashion    0.019424
7                  Product_Category_Home    0.019404
5                Product_Category_Beauty    0.017981
2                     Loyalty_Membership    0.014663